@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
font-family: 'Arvo', serif;
color: black;
}

header {
  background-image: url("../images/wood.jpg");
  background-size: cover;
  background-color: #000;
}

.widths span {
  display: block;
}

.widthb {
  width: 13em;
  margin-left: auto;
  margin-right: auto;
}

.tour {
  background-color: #cccccc;
}

.ltgrey {
  background-color: #efefef;
}

.prefooter {
  background-color: #d6c7bf;
}

.footer {
  background-image: url("../images/wood.jpg");
  background-size: cover;
  background-color: #000;
}

.price {
  background-color: #ffffff;
}

.nav {
	display: none;
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-check {
	/* Put the checkbox off the top of the screen */
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: grey;
}

a {
  text-decoration: none;
  color: #fff;
}

a:focus {
  outline: 3px solid black;
}

button {
  border: none;
  border-radius: 3px;
  background-color: #990000;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #510101;
}

label {
  display: block;
}

footer {
  background: #deb9b4;
}

.svg {
  width: 12%;
  height: auto;
}

.svgbig {
  width: 10%;
  height: auto;
}

.logo {
  width: 25%;
  height: auto;
}
@media only screen and (min-width: 29em) {

  .widthb {
    width: 20em;
  }

  .svg {
    width: 6%;
  }

  .logo {
    width: 14%;
  }

}

@media only screen and (min-width: 38em) {

  .widthb {
    width: 25em;
  }

  .svg {
    width: 5%;
  }

}

@media only screen and (min-width: 50em) {

  .widthb {
    width: 40em;
  }

  .logo {
    width: 9%;
  }

  .svg {
    width: 4%;
  }


@media only screen and (min-width: 62em) {

  .widths span {
    display: inline-block;
  }

  .caption {
    padding: 0;
  }

  p {
    padding: 0 5em;
  }

  .logo {
    width: 7%;
  }

}
